
@font-face {
  font-family: 'karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'karla';
  src: url('./assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}
:root{
  --green_200: hsl(148, 38%, 91%);
  --green_600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --grey_500: hsl(186, 15%, 59%);
  --grey_900: hsl(187, 24%, 22%);
  --white: #fff;
}

*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 font-family: 'karla'; 
 color: var(--grey_900);
}
.visually_hidden{
  visibility: hidden ;
  color: var(--red);
  font-size: 14px;
}
.visually_hidden > span{
  color: var(--red);
  font-size: 14px;
}

body{
  background-color: var(--green_200);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.form_container{
  width: 736px;
  margin-top: 128px;
}
.contact_form{
  background-color: var(--white);
  padding: 40px;
  border-radius: 16px;
  font-weight: 400;
}
.asterisk {
  color: var(--green_600);
  font-size: 15px;
}
.name{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}

.form_name{
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 32px;
}

label{
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 8px;
}
input:not(.query_type , .term){
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid  var(--grey_500) ;
  border-radius: 7px;
  padding: 10px 18px;
  cursor: pointer;
}
textarea{
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: 100px;
  line-height: 1.5;
  border: 1px solid  var(--grey_500) ;
  border-radius: 7px;
  resize: none;
  padding: 10px 18px;
  cursor: pointer;
  vertical-align: middel;
}

.query_type{
  accent-color: var(--green_600);
  
}
.query_holder{
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid var(--grey_500);
  gap: 15px;
  padding: 0 25px;
  border-radius: 7px;
  margin: 0;
  cursor: pointer;
}
.query{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: none;
  column-gap: 15px;
  padding:0;
  margin: 0;
  min-width: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}
.query > legend {
  margin-bottom: 15px;
  padding: 0;
  min-width: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  font-size: 16px;
}
.term_holder{
  display: inline-flex;
  align-items: center;
  min-height: 20px;
  gap: 15px;
  padding-left: 2px;
  margin-top: 8px;
  accent-color: var(--green_600);
  cursor: pointer;
}
.btn{
  height: 40px;
  width: 100%;
  background-color: var(--green_600);
  color: var(--green_200);
  border: none;
  margin-top: 8px;
  border-radius: 5px;
}
.succ_massage{
  width: 450px;
  background-color: var(--grey_900);
  padding: 24px;
  border-radius: 12px;
  position: fixed;
  top: -40vh;
  margin: 0 auto;
  animation: 6s ease ;
}
.holder{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  margin-bottom: 18px;
}
.holder > h3{
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}
.succ_text{
  font-size: 16px;
  font-weight: 400;
  color: var(--grey_500);
}
.info{
  margin-bottom: 10px;
}
.message{
  margin-top: 0;
  padding-top: 0;
}
.email_error{
  position: relative;
  min-height: 20px;
  margin-top: 8px;
}

.error_email{
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 640px) {
  
  .form_container{
    width: 90vw;
    margin-top: 32px;
  }
  .contact_form{
    padding: 24px 18px;
  }
  .name{
    display: block;
  }
  .query{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  textarea{
    height: 200px;
  }
  .info{
    margin-bottom: 0;
  }
  .succ_massage{
    width: 75vw;
    top: -40vh;
  }
}

input:not(.query_type, .term):hover,
input:not(.query_type, .term):focus{
  border: none;
  outline: none;
  outline: 1px solid var(--green_600);
}
textarea:hover,
textarea:focus{
  border: none;
  outline: none;
  outline: 1px solid var(--green_600);
}

.query_holder:has(input:checked){
  border: none;
  outline: 1px solid var(--green_600);
  background-color: var(--green_200);
}
.btn:hover{
  background-color: var(--grey_900);
}

.error{
  visibility: visible !important;
  margin-top: 10px !important;
  margin-bottom: 16px !important;
}
.email_error:has(.error){
  margin-bottom: 30px;
}
.error_outline{
  border: none !important; 
  outline: none !important;
  outline: 1px solid var(--red) !important;
}

@keyframes pop_message{
  0%{
    top: -40vh;
  }
  16.6%{
    top: 4vh;
  }
  83.3%{
    top: 4vh;
  }
  100%{
    top: -40vh;
  }
}
